<a href="https://colab.research.google.com/github/KavinduPramod/Google_colab_training/blob/master/Welcome_to_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world");

Hello world

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for num in numbers:
    print(num * 2)

2
4
6
8
10
12
14
16
18
20

In [ ]:
import numpy as np
arr = np.array([1,2,3])
print(arr * 2);

[2 4 6]

In [ ]:
import pandas as pd
data = {"Name":["A","B","C"],"Score": [85,90,78]}
df = pd.DataFrame(data)
print(df)

  Name  Score
0    A     85
1    B     90
2    C     78

## Tut week 2 PEAS